body{
    background: linear-gradient(to right, rgb(239, 235, 244), rgb(238, 226, 255)); 
}
#root{
    height: 100vh;
    width: 100vw;
}






.mobile-menu-content{
    position: fixed;
    top: 13vh;
    left: 0;
    width:320px;
}
.acliveMenu {
    background: linear-gradient(to right, rgb(229, 211, 245), rgb(200, 180, 230)); 
}
.login-btn{
    background: linear-gradient(to right, rgb(239, 235, 244), rgb(238, 226, 255)); 
}


